// footer.pug
footer
    p &copy; 2022 KANA TAKAHASHI
    .parapara-jmp


//- js読み込み
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")


//- gsap読み込み
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
script(src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/CustomEase.min.js")
//- js
script(src="/js/main.js")

