.footer
    .footer__con__wrap
        .footer__con__wrap__title
            h3 創作和菓子庵
        .footer__con__wrap__address
            p 〒1040061
            p 東京都中央区銀座４丁目△△△
        .footer__con__wrap__tel
            p 03-1234-5678
    .nav
        ul
            li
                a(href="/") お知らせ
            li  
                a(href="/") 商品ご紹介
            li
                a(href="/#") 店舗のご案内

        p &copy; 2022 創作和菓子庵



//- js読み込み
script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")


//- gsap読み込み
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
script(src="//cdn.jsdelivr.net/npm/gsap@3.7.0/dist/ScrollTrigger.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/CustomEase.min.js")
//- js
script(src="/js/main.js")

