//- header
include components/_header.pug

#main
    //お知らせ
    .section
        .section__firstwrap
            h2.section__title お知らせ
            dl
                dt 2021.01.01
                dd 正月限定刻印どらやき

                dt 2021.03.01
                dd 春のギフトセット

                dt 2021.07.01
                dd 中元ギフトのご案内

                dt 2021.08.01
                dd 高橋さん家の水ようかん

                
        //新しい価値の想像
        .section__second-wrap
            h2.section__title 新しい価値の想像
            .value-wrap
                img('**')
                p テキストテキストテキストテキスト

        //科学と技術の調和
        .section__third-wrap
            h2.section__title 科学と技術の調和
            .harmony-wrap
                img('**')
                p テキストテキストテキストテキスト


    //マップ
    .section-wrap#map
        iframe

    




















//- footer
include components/_footer.pug

