//- header
include components/_header.pug

#main
    //お知らせ
    .section
        h2.section__title お知らせ
        .section__news-wrap
            dl
                dt 2021.01.01
                dd 正月限定刻印どらやき

                dt 2021.03.01
                dd 春のギフトセット

                dt 2021.07.01
                dd 中元ギフトのご案内

                dt 2021.08.01
                dd 高橋さん家の水ようかん

                
    //新しい価値の想像
    .section-wrap#value
        h2.section-t 新しい価値の想像
            .value-wrap
                img('**')
                p テキストテキストテキストテキスト
    //科学と技術の調和
    .section-wrap#harmony
        h2.section-t 科学と技術の調和
            .harmony-wrap
                img('**')
                p テキストテキストテキストテキスト


    //マップ
    .section-wrap#map
        iframe

    




















//- footer
include components/_footer.pug

