//- header
include components/_header.pug

#main
    //お知らせ
    .section 
        .section__first-wrap.js-fadeIN
            h2.section__title お知らせ
            dl
                dt 2021.01.01
                dd 正月限定刻印どらやき

                dt 2021.03.01
                dd 春のギフトセット

                dt 2021.07.01
                dd 中元ギフトのご案内
                    //- dt 2021.08.01
                    //- dd 高橋さん家の水ようかん
            
        //新しい価値の想像
        .section__second-wrap
            h2.section__second-wrap__title 新しい価値の想像
            .section__second-wrap__value
                img(src="img/sec-img1.jpg", alt="菓子画像")
                p 
                    |和菓子のイメージを払拭する。
                    br
                    |品質と質量の価値を高めていく。


        //和と菓子の調和
        .section__third-wrap
            h2.section__third-wrap__title 和と菓子の調和
            .section__third-wrap__harmony
                img(src="img/sec-img2.jpg", alt="菓子画像")
                p 
                    |今までになかった菓子の提供。
                    br
                    |ひたむきに菓子に向き合う。


        //マップ
    .section__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.2013231811147!2d139.76142232762354!3d35.67204451685458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188be69d30c14b%3A0x69e990a93bec264c!2z44CSMTA0LTAwNjEg5p2x5Lqs6YO95Lit5aSu5Yy66YqA5bqn77yU5LiB55uu77yWIOmKgOW6p-S4ieS4geebrg!5e0!3m2!1sja!2sjp!4v1665910890398!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
    
            
    




















//- footer
include components/_footer.pug

