//- header
include components/_header.pug

#main
    //お知らせ
    .section 
        .section__first-wrap
            h2.section__title お知らせ
            dl
                dt 2021.01.01
                dd 正月限定刻印どらやき

                dt 2021.03.01
                dd 春のギフトセット

                dt 2021.07.01
                dd 中元ギフトのご案内

                dt 2021.08.01
                dd 高橋さん家の水ようかん
            
        //新しい価値の想像
        .section__second-wrap
            h2.section__second-wrap__title 新しい価値の想像
            .section__second-wrap__value
                img(src="img/sec-img1.jpg", alt="菓子画像")
                p 
                    |和菓子のイメージを払拭する。
                    br
                    |品質と質量の価値を高めていく。


        //和と菓子の調和
        .section__third-wrap
            h2.section__title 和と菓子の調和
            .harmony-wrap
                img('**')
                p 
                    |今までになかった和菓子を、
                    br
                    |一人でも多くの人に届けたい。


        //マップ
        .section-wrap#map
            iframe

    




















//- footer
include components/_footer.pug

