#footer {
        padding: 80px 0 40px; 
        width: 100%;
        background-color: var(--font-color);
        color: var(--main-color);
        .footer__con__wrap {
            width: var(--width);
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            flex-direction: row-reverse;
                .footer__con__wrap__right {
                    display: flex;
                    flex-direction: row-reverse;
                    &__title {
                        padding-left: 60px;
                        h3 {
                            font-size: clamp(2rem,10vw,4rem);
                            margin-block-start: 0;
                            margin-block-end: 0;
                            writing-mode: vertical-rl;
                        }
                    }
                    &__address,&__tel {
                        p {
                            text-orientation: upright;
                            writing-mode: vertical-rl;
                            }
                    }
                    .nav {
                        margin-right: 60px;
                        
                        ul {
                            display: flex;
                            flex-direction: row-reverse;
                            column-gap: 25px;
                        }
                    }
                }
                &__left {
                    display: flex;
                    flex-direction: column;
                }
        } 

        p.copy-light {
            writing-mode: lr;
            text-align: center;
            padding-top: 40px;
        }
    

}





@include mq(tab) {
    footer {
    }

}


@include mq(sp) {
    #footer {
        padding: 40px 0 30px;
        .footer__con__wrap {
            width: var(--media-sp-width);
            .footer__con__wrap__right {
                &__title {
                    padding-left: 25px;
                }
                .nav {
                    margin-right: 25px;
                }
            }
        }

    }
}

