body {
    position: relative;
}
// カーソル
.cursor,
.follower {
    border-radius: 50%;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0; 
    pointer-events: none;
}
.cursor {
    width: 8px;
    height: 8px;
    background-color:#1e1e1e;
    z-index: 1001;
}
.follower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(#E27C39, .5);
    z-index: 1000;
    transition: width ease .8s, height ease .6s;
    text-align: center;
    span {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        transform: scale(0);
    }
    &.is-active {
        width: 100px;
        height: 100px;
    }
}
// endカーソル



// ---------------------
// main
// ---------------------
#main {
    padding-bottom: 180px;
    margin: 0 0 0 auto;
    .section {
            &__first-wrap {
                display: flex;
                flex-direction: row-reverse;
                padding-top: 180px;

                dl {
                    display: grid;
                    row-gap: 5px;
                    padding: 80px 100px 0 0;
                    writing-mode: vertical-rl;
                    dt{
                        border-right: solid 1px var(--font-color);
                        padding-right: 30px;
                    }
                    dd {
                        margin-right: 5px;
                        }
                }
            }
            &__second-wrap,&__third-wrap{
                display: flex;
                flex-direction: row-reverse;    
                padding-top: 100px;
                &__title {
                    margin-left: 20px;
                    font-size: clamp(2.4rem,6vw,3.6rem);
                }
                &__value,&__harmony{
                    margin-top: 100px;
                    aspect-ratio: 3 / 2;
                    // overflow: hidden;
                    width: 57%;
                    position: relative;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    p {
                        writing-mode: unset;
                        position: absolute;
                        color: var(--main-color);
                        background:rgba(149, 42, 38, 0.6);
                        width: 56%;
                        bottom: -20px;
                        left: -20px;
                        padding: 50px 0;
                        text-align: center;
                    }
                }
            }
            &__third-wrap {
                flex-direction: unset;
                &__title {
                    margin-right: 20px;
                    margin-left: 0;
                }
                &__harmony {
                    p {
                        background:rgba(149, 42, 38, 0.6);
                        left: calc(100% - 20px);
                    }
                }
            }
    }
    .section__map {
        width: 70vw;
        padding-top: 180px;
        iframe {
            width: 100%;
            aspect-ratio: 3 / 2;
        }
    }
}



// -----SP-----
@include mq(sp) {
    #main {
        .section {
                &__title {
                }
                &__first-wrap {
                    padding-top: 180px;
                    dl {
                        padding: 20px 30px 0 0;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        dt{
                            border-right: solid 1px var(--font-color);
                            padding-right: 10px;
                        }
                        dd {
                            margin-right: 5px;
                            }
                    }
                }

                &__second-wrap {
                    padding-top: 180px;
                    .section__second-wrap{
                        &__titlle {
                            margin-left: 10px;
                        }
                        &__value {
                            width: 100%;
                        }
                    }
                }

                &__third-wrap {
                    padding-top: 180px;
                    .section__third-wrap {
                        &__title {
                            margin-right: 10px;
                        }
                        &__harmony {
                            // width: 100%;
                            p {

                            }
                        }
                    }
                }   
        }
    }
}
// code-end



