body {
    position: relative;
}
// カーソル
.cursor,
.follower {
    border-radius: 50%;
    // position: absolute;
    position: fixed;
    top: 0;
    left: 0; 
    pointer-events: none;
}
.cursor {
    width: 8px;
    height: 8px;
    background-color:#1e1e1e;
    z-index: 1001;
}
.follower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(#E27C39, .5);
    z-index: 1000;
    transition: width ease .8s, height ease .6s;
    text-align: center;
    span {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        transform: scale(0);
    }
    &.is-active {
        width: 100px;
        height: 100px;
    }
}
// endカーソル



// ---------------------
// main
// ---------------------
#main {
    margin: 0 0 0 auto;
    .section {
            &__title {
                color: var(--font-color);
                font-size: clamp(2.8rem,7vw,3.6rem);
            }
            &__first-wrap {
                display: flex;
                flex-direction: row-reverse;
                padding-top: 180px;

                dl {
                    display: grid;
                    row-gap: 5px;
                    padding: 0 100px 0 0;
                    writing-mode: vertical-rl;
                    dt{
                        border-right: solid 1px var(--font-color);
                        padding-right: 30px;
                    }
                    dd {
                        margin-right: 5px;
                        }
                }
            }
            &__secondwrap {
                .value-wrap{
                    display: flex;
                    flex-direction: row-reverse;    
                    padding-top: 100px;
                }
            }
            
            &__third-wrap {
                .harmony-wrap {
                    padding-top: 100px;
                }
            }
    }






    
}



// -----SP-----
@include mq(sp) {
    #main {
        .section {
                &__title {
                }
                &__firstwrap {
                    dl {
                        padding: 0 40px 0 0;
                        dt{
                            border-right: solid 1px var(--font-color);
                            padding-right: 10px;
                        }
                        dd {
                            margin-right: 5px;
                            }
                    }
                }
        }
    }
}
// code-end
