// 変数ー例
:root {
    --main-color: #E6E2D7;
    --font-family: 'Noto Sans JP', serif ,sans-serif;
    --font-color: #141414;
    --font-13-16: clamp(1.2rem, 2vw, 1.6rem);
    
    // 各セクションタイトル
    --h2: clamp(6rem, 16vw, 16rem);
    --TAB-SP-h2: clamp(5rem, 16vw, 10rem);

    // PC width
    --width: 80vw;
    // SP width
    --media-sp-width: 90vw;
    
    // --btn-color:  #E27C39;
    // --box-color1:#653430;
}





// animetion #circle
@keyframes rotate-anime {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(360deg);}
}



